{% extends 'base.html' %}
{% from 'users/macros.html' import form_errors %}

{% block content %}

	<div class="row justify-content-md-center">
		<div class="col-md-4">
			<h2 class="join-message">Edit Your Profile.</h2>
			<form novalidate class='profile-form' method="POST"
						id="user_form">
				<fieldset class="form-field">
					{{ form.csrf_token }}
					{{ form.email.label }}
					{{ form.email(size=20) }}
					{{ form_errors(form.email) }}
				</fieldset>

				<fieldset class="form-field">
					{{ form.username.label }}
					{{ form.username }}
					{{ form_errors(form.username) }}
				</fieldset>

				<fieldset class="form-field">
					{{ form.image_url.label }}
					{{ form.image_url }}
					{{ form_errors(form.image_url) }}
				</fieldset>

				<fieldset class="form-field">
					{{ form.header_image_url.label }}
					{{ form.header_image_url }}
					{{ form_errors(form.header_image_url) }}
				</fieldset>

				<fieldset class="form-field">
					{{ form.bio.label }}
					{{ form.bio }}
					{{ form_errors(form.bio) }}
				</fieldset>

				<fieldset class="form-field">
					{{ form.password.label }}
					{{ form.password }}
					{{ form_errors(form.password) }}
				</fieldset>

				{{ form.submit }}

			</form>
		</div>
	</div>

{% endblock %}
